In [26]:
import pandas as pd
df = pd.read_csv('C:\\Users\\ppanchad\\PycharmProjects\\PANDAS\\nyc_weather.csv')
df

,Unnamed: 0,Date,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,Wind SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,City,Season
0,1,1/1/2015,34,12,40,30.10,10,17,0.00,1,NaN,246,New York City (USA),Winter
1,2,1/2/2015,40,18,45,30.24,10,14,0.00,4,NaN,271,New York City (USA),Winter
2,3,1/3/2015,39,30,71,30.45,7,9,0.94,7,Rain,69,New York City (USA),Winter
3,4,1/4/2015,49,46,87,29.83,6,10,0.47,8,Fog-Rain,227,New York City (USA),Winter
4,5,1/5/2015,37,12,42,30.13,10,20,0.00,3,NaN,290,New York City (USA),Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,12/27/2015,56,51,82,29.97,6,12,0.08,8,Fog-Rain,283,New York City (USA),Winter
361,362,12/28/2015,42,25,57,30.41,10,14,0.05,7,Rain-Snow,39,New York City (USA),Winter
362,363,12/29/2015,42,40,88,30.12,6,12,0.66,8,Rain-Snow,28,New York City (USA),Winter
363,364,12/30/2015,46,41,85,30.23,9,7,0.37,8,Rain,65,New York City (USA),Winter
364,365,12/31/2015,48,38,71,30.06,10,12,0.06,7,Rain,317,New York City (USA),Winter

In [14]:
# To check the max temperature of the year
print('The Max Temperature of the Year 2015: ', df['Temperature'].max())

The Max Temperature of the Year 2015:  87

In [17]:
# To check dates when it rain in whole Year
print('Rain date of 2015 Year: \n', df['Date'][df['Events'] == 'Rain'])

Rain date of 2015 Year:
 2        1/3/2015
11      1/12/2015
39       2/9/2015
62       3/4/2015
67       3/9/2015
          ...
351    12/18/2015
355    12/22/2015
359    12/26/2015
363    12/30/2015
364    12/31/2015
Name: Date, Length: 73, dtype: object

In [20]:
# To check the Average Windspeed
print('Average Windspeed: ', df['Wind SpeedMPH'].mean())

Average Windspeed:  10.92054794520548

In [27]:
# DATA MUNGING or DATA WRANGLING: To cleaning the messy data or polishing the data i.e. some of the data fields contains blank cells

# Withouting using Data Munging i.e. taking the raw data without cleaning the data
print('Average Precipitation before Cleaning Data: ', df['PrecipitationIn'].mean())

# After Cleaning the data i.e. After Data Munging

# Below is to cleaning the data 
df.fillna(0, inplace = True)
print('Average Precipitation after Cleaning Data: ', df['PrecipitationIn'].mean())

Average Precipitation before Cleaning Data:  0.20358024691358031
Average Precipitation after Cleaning Data:  0.18071232876712334

In [33]:
#DataFrame: It is the main frame of PANDAS. It used to represent the Tabular data i.e. in rows & column wise. 

# Create Dataframe from python dict
import pandas as pd

weather_report = {
    'Date' : ['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'],
    'Temperature' : [33, 25, 35, 45, 28, 24],
    'WindSpeed' : [6, 5, 7, 2, 7, 8],
    'Event' : ['Sunny', 'Rain', 'Rain', 'Sunny', 'Snow', 'Snow']
}

df = pd.DataFrame(weather_report)
df

       Date  Temperature  WindSpeed  Event
0  1/1/2020           33          6  Sunny
1  1/2/2020           25          5   Rain
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow
5  1/6/2020           24          8   Snow

In [41]:
# Check for shape of the DataFrame
# example: (7,4) ---> 7 is the No. of rows & 4 is the no.of columns

print('Without storing values to the variables:', df.shape)

# We can store the values in the variables
rows, columns = df.shape
print('No. of Rows: ', rows)
print('No. of Columns: ', columns)

Without storing values to the variables: (6, 4)
No. of Rows:  6
No. of Columns:  4

In [46]:
# Display only fews rows of the DataFrame

print('Display only First few rows of the Table:\n ', df.head())

# Display only 2 rows of the DataFrame

print('\nDisplay only First 2 rows of the Table: \n', df.head(2))

Display only First few rows of the Table:
         Date  Temperature  WindSpeed  Event
0  1/1/2020           33          6  Sunny
1  1/2/2020           25          5   Rain
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow

Display only First 2 rows of the Table:
        Date  Temperature  WindSpeed  Event
0  1/1/2020           33          6  Sunny
1  1/2/2020           25          5   Rain

In [59]:
# Display only last 5 rows 

print('Display only last 5 rows:\n', df.tail())

# Display only last 3 rows 

print('\nDisplay last 3 rows:\n', df.tail(3))

#Disply the last row

print('\nDisplay last row:\n', df.tail(1))

Display only last 5 rows:
        Date  Temperature  WindSpeed  Event
1  1/2/2020           25          5   Rain
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow
5  1/6/2020           24          8   Snow

Display last 3 rows:
        Date  Temperature  WindSpeed  Event
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow
5  1/6/2020           24          8   Snow

Display last row:
        Date  Temperature  WindSpeed Event
5  1/6/2020           24          8  Snow

In [64]:
# Display only few rows in the table 

# We can use slicing operation same as python
df[2:5]

       Date  Temperature  WindSpeed  Event
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow

In [67]:
# Display the header name or attribute name of the Table
df.columns

Index(['Date', 'Temperature', 'WindSpeed', 'Event'], dtype='object')

In [89]:
# Display the content of the specify column of the table

# NOTE: If the column header name contains the spaces then we should prefer the --> df['Date'] 
    #Example: df['First Name']

df.Date # or we can use --> df['Date']

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: Date, dtype: object

In [81]:
# Type of the Columns: it is Series
type(df.Date)

pandas.core.series.Series

In [88]:
# Display only the columns which is required
df[['Event', 'Date']]

   Event      Date
0  Sunny  1/1/2020
1   Rain  1/2/2020
2   Rain  1/3/2020
3  Sunny  1/4/2020
4   Snow  1/5/2020
5   Snow  1/6/2020