In [2]:
# Create Dataframe from python dict
import pandas as pd

weather_report = {
    'Date' : ['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'],
    'Temperature' : [33, 25, 35, 45, 28, 24],
    'WindSpeed' : [6, 5, 7, 2, 7, 8],
    'Event' : ['Sunny', 'Rain', 'Rain', 'Sunny', 'Snow', 'Snow']
}

df = pd.DataFrame(weather_report)
df

       Date  Temperature  WindSpeed  Event
0  1/1/2020           33          6  Sunny
1  1/2/2020           25          5   Rain
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny
4  1/5/2020           28          7   Snow
5  1/6/2020           24          8   Snow

In [9]:
# Max, Min, Standard_Deviation(std) & Mean(Average) Temperature

[df["Temperature"].max(), df['Temperature'].min(), df['Temperature'].std(), df['Temperature'].mean()]

[45, 24, 7.840068026915753, 31.666666666666668]

In [12]:
# Describe: It will print the stastics of the Table which contains the Interger value

# Display the stastics of the Table 
df.describe()

       Temperature  WindSpeed
count     6.000000   6.000000
mean     31.666667   5.833333
std       7.840068   2.136976
min      24.000000   2.000000
25%      25.750000   5.250000
50%      30.500000   6.500000
75%      34.500000   7.000000
max      45.000000   8.000000

In [18]:
# Conditionally select the Data from df

# Example: how we select the data according to the condition and it filter it out

print(df.Temperature>=32) # It will give result in boolean format

# Display the Temperature greater than 32
# when we use df to the above condition it will filter out only the True Conditionss
df[df.Temperature>=32]

0     True
1    False
2     True
3     True
4    False
5    False
Name: Temperature, dtype: bool

       Date  Temperature  WindSpeed  Event
0  1/1/2020           33          6  Sunny
2  1/3/2020           35          7   Rain
3  1/4/2020           45          2  Sunny

In [20]:
# Display the max temperature with the content of the Table
df[df.Temperature == df.Temperature.max()]

       Date  Temperature  WindSpeed  Event
3  1/4/2020           45          2  Sunny

In [33]:
# Display only the date on which day temperture was Max
print(df['Date'][df['Temperature'] ==  df['Temperature'].max()])

# Display the specify column i.e. date & temperature on which day Temperature is Max

df[['Date', 'Temperature']][df['Temperature'] == df['Temperature'].max()]

3    1/4/2020
Name: Date, dtype: object

       Date  Temperature
3  1/4/2020           45

In [ ]:
# Set The Index