In [2]:
# Pattern 1

n = 5
for i in range(1, n+1):
    for j in range(i, n+i):
        print(((j-1) % n) + 1 , end=' ')
    print(' ')

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [3]:
# Multiplies of the number column wise
num = 5
for i in range(1, num+1):
    for j in range(1, num+1):
        print(i*j, end=' ')
    print(' ')

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [10]:
# pattern reverse right angle triangle
n = 5
for i in range(n+1):
    print('* ' * (n-i), end='\n')

* * * * *
* * * *
* * *
* *
*

In [11]:
# pattern right angle triangle
n = 5
for i in range(n+1):
    print('* ' * i, end='\n')

*
* *
* * *
* * * *
* * * * *

In [12]:
# pattern equivalent angle triangle
n = 5
for i in range(n+1):
    print(' ' * (n-i), end='')
    print('* '*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(chr(65+i), end=' ')
    print()

A
B B
C C C
D D D D
E E E E E

In [17]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [20]:
n = 5

# CASE-1: By using only one for loop
for i in range(1, n+1):
    print(' '*(n-i), (str(i)+' ')*i)
    
#CASE-2: By using 2 for loop
for i in range(1, n+1):
    print(' '*(n-i), end='')
    for j in range(1, i+1):
        print(i, end=' ')
    print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [19]:
n = 5
for i in range(1, n+1):
    print(' '*(n-i), end=' ')
    for j in range(1, i+1):
        print(j, end=' ')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [21]:
for i in range(n):
    print(' '*(n-i), end=' ')
    for j in range(i+1):
        print(chr(65+j), end=' ')
    print()

      A
     A B
    A B C
   A B C D
  A B C D E

In [22]:
n = 5
for i in range(n):
    print(' '*(n-i), end='')
    for j in range(i+1):
        print(chr(65+i), end=' ')
    print()

     A
    B B
   C C C
  D D D D
 E E E E E

In [23]:
n = 5
for i in range(n+1):
    print(' '*(n-i), end='')
    for j in range(1, 2*i):
        print(j, end=' ')
    print()

    1
   1 2 3
  1 2 3 4 5
 1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [24]:
n = 5
for i in range(1,n+1):
    print(' '*(n-i), end='')
    for j in range(2*i-1, 0, -1):
        print(j, end=' ')
    print()

    1
   3 2 1
  5 4 3 2 1
 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [25]:
n = 5
for i in range(n+1):
    print(' '*(n-i), end='')
    for j in range(2*i-1):
        print(chr(65+j), end=' ')
    print()

    A
   A B C
  A B C D E
 A B C D E F G
A B C D E F G H I

In [26]:
n = 5
for i in range(n+1):
    print(' '*(n-i), end='')
    for j in range(2*i,-1, -1):
        print(chr(65+j), end=' ')
    print()

     A
    C B A
   E D C B A
  G F E D C B A
 I H G F E D C B A
K J I H G F E D C B A